<header>
  <LinkTo @route="index">
    <h1>
      {{t "railsdiff"}}
    </h1>
  </LinkTo>
</header>
<main class="content">
  <h2>
    {{t "error.application.heading"}}
  </h2>
  <p>
    {{t "error.application.description"}}
  </p>
</main>