<header>
  <LinkTo @route="index">
    <h1>{{t "railsdiff"}}</h1>
  </LinkTo>
</header>

<div class="content">
  <h2>{{t "error.application.heading"}}</h2>
  <span>{{t "error.application.description"}}</span>
</div>